.theme-dark {
    --text: #FFFFFF; 
    --background: #262626;
    --select-background: #ffffff00;
    --select-hover: #404240;
    --shadow: drop-shadow(2px 6px 2px rgba(97, 97, 97, 0.3));
    --border: rgba(255, 255, 255, 0.2);
    --logo: invert(100%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(105%) contrast(105%);
  }
  
  .theme-light {
    --text: #262626; 
    --background: #FFFFFF;
    --select-background: #ffffff00;
    --select-hover: #F6F6F6;
    --shadow: drop-shadow(2px 6px 2px rgba(146, 136, 207, 0.3));
    --border: rgba(92, 92, 92, 0.2);
    --logo: invert(12%) sepia(61%) saturate(0%) hue-rotate(285deg) brightness(133%) contrast(108%);
  }

  $text: var(--text);
  $background: var(--background);
  $select-background: var(--select-background);
  $select-hover: var(--select-hover);
  $shadow: var(--shadow);
  $border: var(--border);
  $logo: var(--logo);